nav a {
  text-decoration: none;
  color: red;
  font-family: cursive;
  padding-left: 7%;
}

img {
  float: left;
  width: 400px;
}

h1{
  color: white;
}

p{
  color: white;
  font-size: 3em;
  font-family: fantasy;
}

h2{
  font-size: 1em;
  color: white;
  float: right;
}

ul{
  text-decoration: none;
  font-size: 2em;
  color: orange;
}
