nav a {
  text-decoration: none;
  color: red;
  font-family: cursive;
  padding-left: 7%;
}

img {
  float: left;
  width: 400px;
}

h1{
  color: white;
  text-align: center;
}

p{
  color: white;
  font-size: 3em;
  font-family: fantasy;
}

h2{
  font-size: 1em;
  color: white;
  float: right;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}

.container {
    border-radius: 5px;
    background-image: radial-gradient(circle, #53a854, #4c9753, #478651, #43754d, #406449);
    padding: 10px;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
